.navbar-wrapper {
  display: contents;
}
 
.navbar-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
 
.navbar-pasted-image {
  width: 154px;
  height: 50px;
}
 
.navbar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar-link11 {
  text-decoration: none;
}
 
.navbar-link21 {
  text-decoration: none;
}
 
.navbar-link31 {
  text-decoration: none;
}
 
.navbar-link32 {
  text-decoration: none;
}
 
.navbar-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar-action21 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar-burger-menu {
  display: none;
}
 
.navbar-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar-image {
  width: 200px;
  object-fit: cover;
}
 
.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-icon3 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.navbar-link12 {
  text-decoration: none;
}
 
.navbar-link22 {
  text-decoration: none;
}
 
.navbar-link33 {
  text-decoration: none;
}
 
.navbar-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-link5 {
  text-decoration: none;
}
 
.navbar-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr;
}
 
.navbar-menu-item1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar-page1-image {
  width: 50px;
  height: 50px;
}
 
.navbar-content1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar-page1 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar-menu-item2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar-page2-image {
  width: 50px;
  height: 50px;
}
 
.navbar-content2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar-page2 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar-menu-item3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar-page3-image {
  width: 50px;
  height: 50px;
}
 
.navbar-content3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar-page3 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar-menu-item4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar-page4-image {
  width: 50px;
  height: 50px;
}
 
.navbar-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar-page4 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.navbar-action22 {
  text-decoration: none;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 

 

 

 
@media(max-width: 767px) {
  .navbar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .navbar-container2 {
    grid-gap: 0;
  }
}
 
@media(max-width: 479px) {
  .navbar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.home-hero-wrapper {
  display: contents;
}
 
.home-hero-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-hero-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
 
.home-hero-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.home-hero-text1 {
  color: #ffffff;
  text-align: center;
}
 
.home-hero-text2 {
  color: #ffffff;
  text-align: center;
}
 
.home-hero-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-hero-row-container1 {
  width: 100%;
}
 
.home-hero-placeholder-image10 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image11 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image12 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image13 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image14 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image15 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image16 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image17 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image18 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image19 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image20 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image21 {
  width: 400px;
  height: 400px;
}
 
.home-hero-row-container2 {
  width: 100%;
}
 
.home-hero-placeholder-image22 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image23 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image24 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image25 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image26 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image27 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image28 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image29 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image30 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image31 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image32 {
  width: 400px;
  height: 400px;
}
 
.home-hero-placeholder-image33 {
  width: 400px;
  height: 400px;
}
 
.home-hero-container2 {
  display: contents;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .home-hero-content2 {
    width: 100%;
  }
}

.about-first-wrapper {
  display: contents;
}
 
.about-first-container2 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-unit);
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  border-radius: var(--dl-radius-radius-inputradius);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: rgba(255, 255, 255, 0.15);
  grid-template-columns: 1fr 1fr;
}
 
.about-first-image-container1 {
  height: 100%;
  display: flex;
  position: relative;
}
 
.about-first-image1 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.about-first-tabs-menu1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.about-first-feature1-title {
  color: #ffffff;
}
 
.about-first-feature1-description {
  color: #ffffff;
}
 
.about-first-container3 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-unit);
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  border-radius: var(--dl-radius-radius-inputradius);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: rgba(255, 255, 255, 0.15);
  grid-template-columns: 1fr 1fr;
}
 
.about-first-image-container2 {
  height: 100%;
  display: flex;
  position: relative;
}
 
.about-first-image2 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.about-first-tabs-menu2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.about-first-feature2-title1 {
  color: #ffffff;
}
 
.about-first-feature2-description1 {
  color: #ffffff;
}
 
.about-first-container4 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-unit);
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  border-radius: var(--dl-radius-radius-inputradius);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: rgba(255, 255, 255, 0.15);
  grid-template-columns: 1fr 1fr;
}
 
.about-first-image-container3 {
  height: 100%;
  display: flex;
  position: relative;
}
 
.about-first-image3 {
  display: flex;
  animation-name: fadeIn;
  animation-delay: 0s;
  justify-content: center;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.about-first-tabs-menu3 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.about-first-feature2-title2 {
  color: #ffffff;
}
 
.about-first-feature2-description2 {
  color: #ffffff;
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text32 {
  display: inline-block;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text29 {
  display: inline-block;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment31 {
  display: contents;
}
 
.home-text35 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
@media(max-width: 1100px) {
  .about-first-container2 {
    display: flex;
    flex-direction: column;
  }
  .about-first-tabs-menu1 {
    width: auto;
    height: auto;
    align-self: stretch;
    margin-top: -50px;
    align-items: center;
  }
  .about-first-container3 {
    display: flex;
    flex-direction: column;
  }
  .about-first-tabs-menu2 {
    margin-top: -50px;
    align-items: center;
  }
  .about-first-container4 {
    display: flex;
    flex-direction: column;
  }
  .about-first-tabs-menu3 {
    margin-top: -50px;
    align-items: center;
  }
}
 
@media(max-width: 991px) {
  .about-first-container2 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .about-first-container3 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .about-first-container4 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
}

.teams-wrapper {
  display: contents;
}
 
.teams-container10 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.teams-max-width {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.teams-container11 {
  height: auto;
  align-items: start;
}
 
.teams-section-header {
  gap: var(--dl-space-space-oneandhalfunits);
  top: 10%;
  display: flex;
  position: sticky;
  align-items: flex-start;
  flex-direction: column;
}
 
.teams-text10 {
  color: rgb(255, 255, 255);
}
 
.teams-text11 {
  color: rgb(255, 255, 255);
}
 
.teams-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.teams-container12 {
  height: auto;
  grid-area: span 1/span 1/span 1/span 1;
  margin-top: var(--dl-space-space-sixunits);
}
 
.teams-container13 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.teams-text14 {
  text-align: center;
}
 
.teams-text15 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.teams-container14 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent2);
}
 
.teams-text17 {
  text-align: center;
}
 
.teams-text18 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.teams-container15 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.teams-text20 {
  text-align: center;
}
 
.teams-text21 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.teams-container16 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  background-color: var(--dl-color-theme-accent2);
}
 
.teams-text23 {
  text-align: center;
}
 
.teams-text24 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.teams-container17 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.teams-text26 {
  text-align: center;
}
 
.teams-text27 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.teams-container18 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent2);
}
 
.teams-text29 {
  text-align: center;
}
 
.teams-text30 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.teams-container19 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.teams-text32 {
  text-align: center;
}
 
.teams-text33 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.teams-container20 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  background-color: var(--dl-color-theme-accent2);
}
 
.teams-text35 {
  text-align: center;
}
 
.teams-text36 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 
.teams-container21 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.teams-text38 {
  text-align: center;
}
 
.teams-text39 {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
 

 
@media(max-width: 991px) {
  .teams-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .teams-section-header {
    position: static;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .teams-actions {
    width: 100%;
    align-self: flex-start;
  }
  .teams-container13 {
    width: 100%;
  }
  .teams-container14 {
    width: 100%;
  }
  .teams-container15 {
    width: 100%;
  }
  .teams-container16 {
    width: 100%;
  }
  .teams-container17 {
    width: 100%;
  }
  .teams-container18 {
    width: 100%;
  }
  .teams-container19 {
    width: 100%;
  }
  .teams-container20 {
    width: 100%;
  }
  .teams-container21 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .teams-button {
    width: 100%;
  }
}

.about-our-school-wrapper {
  display: contents;
}
 
.about-our-school-accent2-bg {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
 
.about-our-school-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
 
.about-our-school-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
 
.about-our-school-container2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
 
.about-our-school-container2:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.about-our-school-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-our-school-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.about-our-school-navlink {
  text-decoration: none;
}
 
.home-fragment34 {
  display: contents;
}
 
.home-text44 {
  display: inline-block;
}
 
.home-fragment33 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
.home-fragment32 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .about-our-school-container2 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
 
@media(max-width: 479px) {
  .about-our-school-actions {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .about-our-school-navlink {
    flex: 1;
  }
}

.testimonial-wrapper {
  display: contents;
}
 
.testimonial-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonial-container10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
 
.testimonial-text10 {
  color: #ffffff;
}
 
.testimonial-text11 {
  color: #ffffff;
  text-align: center;
}
 
.testimonial-container12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
 
.testimonial-container13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial-text14 {
  text-align: left;
}
 
.testimonial-container14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial-image2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
 
.testimonial-container15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial-text17 {
  text-align: left;
}
 
.testimonial-container16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial-image3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
 
.testimonial-container17 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial-text20 {
  text-align: left;
}
 
.testimonial-container18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial-image4 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
 
.testimonial-container19 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial-text23 {
  text-align: left;
}
 
.home-fragment47 {
  display: contents;
}
 
.home-text71 {
  display: inline-block;
}
 
.home-fragment41 {
  display: contents;
}
 
.home-text61 {
  display: inline-block;
}
 
.home-fragment36 {
  display: contents;
}
 
.home-text50 {
  display: inline-block;
}
 
.home-fragment45 {
  display: contents;
}
 
.home-text69 {
  display: inline-block;
}
 
.home-fragment40 {
  display: contents;
}
 
.home-text60 {
  display: inline-block;
}
 
.home-fragment46 {
  display: contents;
}
 
.home-text70 {
  display: inline-block;
}
 
.home-fragment44 {
  display: contents;
}
 
.home-text68 {
  display: inline-block;
}
 
.home-fragment48 {
  display: contents;
}
 
.home-text72 {
  display: inline-block;
}
 
.home-fragment37 {
  display: contents;
}
 
.home-text53 {
  display: inline-block;
}
 
.home-fragment39 {
  display: contents;
}
 
.home-text59 {
  display: inline-block;
}
 
.home-fragment35 {
  display: contents;
}
 
.home-text47 {
  display: inline-block;
}
 
.home-fragment38 {
  display: contents;
}
 
.home-text56 {
  display: inline-block;
}
 
.home-fragment43 {
  display: contents;
}
 
.home-text65 {
  display: inline-block;
}
 
.home-fragment42 {
  display: contents;
}
 
.home-text64 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .testimonial-container10 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
 
@media(max-width: 767px) {
  .testimonial-container10 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .testimonial-card1 {
    width: 100%;
  }
  .testimonial-card2 {
    width: 100%;
  }
  .testimonial-card3 {
    width: 100%;
  }
  .testimonial-card4 {
    width: 100%;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-frame12 {
  gap: 31.5px;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 114px;
  padding-left: 77px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: 70px;
  justify-content: center;
}
 
.footer-frame7 {
  gap: 50.625px;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.footer-frame2 {
  gap: 30.375px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.footer-text10 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 25.3125px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: "Times New Roman";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.footer-text11 {
  color: rgb(255, 255, 255);
  width: 324px;
  height: auto;
  font-size: 20.25px;
  font-style: Regular;
  text-align: left;
  font-family: "Times New Roman";
  font-weight: 400;
  line-height: 160%;
  font-stretch: normal;
  text-decoration: none;
}
 
.footer-frame3 {
  gap: 30.375px;
  width: 284px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer-text12 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 25.3125px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: "Times New Roman";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.footer-text13 {
  color: rgb(255, 255, 255);
  width: 266px;
  height: auto;
  font-size: 20.25px;
  font-style: Regular;
  text-align: left;
  font-family: "Times New Roman";
  font-weight: 400;
  line-height: 160%;
  font-stretch: normal;
  text-decoration: none;
}
 
.footer-frame4 {
  gap: 30.375px;
  width: 108px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer-text14 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 25.3125px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: "Times New Roman";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.footer-frame5 {
  gap: 15.1875px;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer-social-button {
  gap: 12.65625px;
  width: 40.5px;
  height: 40.5px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1.265625px;
  border-radius: 112.50000762939453px;
  flex-direction: column;
  justify-content: center;
}
 
.footer-link {
  display: contents;
}
 
.footer-instagram {
  gap: 12.65625px;
  display: flex;
  align-items: flex-start;
}
 
.footer-instagram1 {
  width: 20px;
  height: 20px;
}
 
.footer-frame6 {
  gap: 18.984375px;
  width: 82px;
  height: 85px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.footer-robotics-logo {
  gap: 12.65625px;
  width: 79.734375px;
  height: 78.46875px;
  display: flex;
  padding: 7.59375px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 126.5625px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.footer-image {
  width: 39px;
  height: 55px;
}
 
.footer-text15 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 17.7188px;
  font-style: Regular;
  text-align: left;
  font-family: "Times New Roman";
  font-weight: 400;
  line-height: 160%;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-fragment49 {
  display: contents;
}
 
.home-text73 {
  display: inline-block;
}
 
.home-fragment51 {
  display: contents;
}
 
.home-text75 {
  color: rgb(255, 255, 255);
  width: 324px;
  height: auto;
  display: inline-block;
  font-size: 20.25px;
  font-style: Regular;
  text-align: left;
  font-family: "Times New Roman";
  font-weight: 400;
  line-height: 160%;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-fragment50 {
  display: contents;
}
 
.home-text74 {
  display: inline-block;
}
 
.home-fragment52 {
  display: contents;
}
 
.home-text81 {
  display: inline-block;
}
 
.home-fragment53 {
  display: contents;
}
 
.home-text82 {
  display: inline-block;
}
 
.home-fragment54 {
  display: contents;
}
 
.home-text83 {
  display: inline-block;
}
 
.footerroot-class-name {
  padding-left: var(--dl-space-space-threeunits);
}
 
.footerroot-class-name1 {
  padding-left: 0px;
}
 

 
.footerroot-class-name3 {
  flex: 1;
}
 
@media(max-width: 1400px) {
  .footer-frame12 {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer-frame7 {
    width: 662px;
  }
}
 
@media(max-width: 1100px) {
  .footer-frame12 {
    flex-direction: column;
  }
  .footerroot-class-name1 {
    padding-left: var(--dl-space-space-fiveunits);
  }
}
 
@media(max-width: 767px) {
  .footer-frame7 {
    width: 100%;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-container2 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 0.00%,rgb(128, 4, 4) 28.00%,rgb(128, 4, 4) 73.00%,rgb(8, 0, 0) 99.00%);
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment24 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-fragment25 {
  display: contents;
}
 
.home-text25 {
  display: inline-block;
}
 
.home-fragment26 {
  display: contents;
}
 
.home-text26 {
  display: inline-block;
}
 
.home-fragment27 {
  display: contents;
}
 
.home-text27 {
  display: inline-block;
}
 
.home-fragment28 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
}
 
.home-fragment29 {
  display: contents;
}
 
.home-text29 {
  display: inline-block;
}
 
.home-fragment30 {
  display: contents;
}
 
.home-text32 {
  display: inline-block;
}
 
.home-fragment31 {
  display: contents;
}
 
.home-text35 {
  display: inline-block;
}
 
.home-fragment32 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment33 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
.home-fragment34 {
  display: contents;
}
 
.home-text44 {
  display: inline-block;
}
 
.home-fragment35 {
  display: contents;
}
 
.home-text47 {
  display: inline-block;
}
 
.home-fragment36 {
  display: contents;
}
 
.home-text50 {
  display: inline-block;
}
 
.home-fragment37 {
  display: contents;
}
 
.home-text53 {
  display: inline-block;
}
 
.home-fragment38 {
  display: contents;
}
 
.home-text56 {
  display: inline-block;
}
 
.home-fragment39 {
  display: contents;
}
 
.home-text59 {
  display: inline-block;
}
 
.home-fragment40 {
  display: contents;
}
 
.home-text60 {
  display: inline-block;
}
 
.home-fragment41 {
  display: contents;
}
 
.home-text61 {
  display: inline-block;
}
 
.home-fragment42 {
  display: contents;
}
 
.home-text64 {
  display: inline-block;
}
 
.home-fragment43 {
  display: contents;
}
 
.home-text65 {
  display: inline-block;
}
 
.home-fragment44 {
  display: contents;
}
 
.home-text68 {
  display: inline-block;
}
 
.home-fragment45 {
  display: contents;
}
 
.home-text69 {
  display: inline-block;
}
 
.home-fragment46 {
  display: contents;
}
 
.home-text70 {
  display: inline-block;
}
 
.home-fragment47 {
  display: contents;
}
 
.home-text71 {
  display: inline-block;
}
 
.home-fragment48 {
  display: contents;
}
 
.home-text72 {
  display: inline-block;
}
 
.home-fragment49 {
  display: contents;
}
 
.home-text73 {
  display: inline-block;
}
 
.home-fragment50 {
  display: contents;
}
 
.home-text74 {
  display: inline-block;
}
 
.home-fragment51 {
  display: contents;
}
 
.home-text75 {
  color: rgb(255, 255, 255);
  width: 324px;
  height: auto;
  display: inline-block;
  font-size: 20.25px;
  font-style: Regular;
  text-align: left;
  font-family: "Times New Roman";
  font-weight: 400;
  line-height: 160%;
  font-stretch: normal;
  text-decoration: none;
}
 
.home-fragment52 {
  display: contents;
}
 
.home-text81 {
  display: inline-block;
}
 
.home-fragment53 {
  display: contents;
}
 
.home-text82 {
  display: inline-block;
}
 
.home-fragment54 {
  display: contents;
}
 
.home-text83 {
  display: inline-block;
}
