.contact-us-page-wo-header-or-footer-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0px;
}
 
.contact-us-page-wo-header-or-footer-contact20 {
  display: flex;
  padding: 0px;
  overflow: hidden;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
 
.contact-us-page-wo-header-or-footer-max-width1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact-us-page-wo-header-or-footer-section-title {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-us-page-wo-header-or-footer-content1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-page-wo-header-or-footer-row {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact-us-page-wo-header-or-footer-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-inputradius);
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.15);
}
 
.contact-us-page-wo-header-or-footer-icon1 {
  fill: #D9D9D9;
}
 
.contact-us-page-wo-header-or-footer-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-us-page-wo-header-or-footer-content3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-page-wo-header-or-footer-text12 {
  color: #ffffff;
  align-self: flex-start;
  text-align: center;
}
 
.contact-us-page-wo-header-or-footer-text13 {
  align-self: flex-start;
  text-align: left;
}
 
.contact-us-page-wo-header-or-footer-email {
  align-self: flex-start;
  text-align: center;
}
 
.contact-us-page-wo-header-or-footer-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-inputradius);
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.15);
}
 
.contact-us-page-wo-header-or-footer-icon3 {
  fill: #D9D9D9;
  align-self: flex-start;
}
 
.contact-us-page-wo-header-or-footer-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-us-page-wo-header-or-footer-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-page-wo-header-or-footer-text14 {
  color: #ffffff;
  align-self: stretch;
  text-align: left;
}
 
.contact-us-page-wo-header-or-footer-text15 {
  text-align: left;
}
 
.contact-us-page-wo-header-or-footer-phone {
  align-self: flex-start;
  text-align: center;
}
 
.contact-us-page-wo-header-or-footer-content6 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-inputradius);
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.15);
}
 
.contact-us-page-wo-header-or-footer-icon5 {
  fill: #D9D9D9;
  align-self: flex-start;
}
 
.contact-us-page-wo-header-or-footer-contact-info3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-us-page-wo-header-or-footer-content7 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-page-wo-header-or-footer-text16 {
  color: #ffffff;
  align-self: flex-start;
  text-align: left;
}
 
.contact-us-page-wo-header-or-footer-text17 {
  text-align: left;
}
 
.contact-us-page-wo-header-or-footer-address {
  align-self: flex-start;
  text-align: left;
}
 
.contact-us-page-wo-header-or-footer-max-width2 {
  width: 100%;
}
 
.contact-us-page-wo-header-or-footer-content8 {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
 
.contact-us-page-wo-header-or-footer-form {
  padding: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-twounits);
  max-height: 50%;
  border-radius: var(--dl-radius-radius-inputradius);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: rgba(255, 255, 255, 0.15);
}
 
.contact-us-page-wo-header-or-footer-input {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: row;
}
 
.contact-us-page-wo-header-or-footer-container1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-page-wo-header-or-footer-text18 {
  color: #ffffff;
}
 
.contact-us-page-wo-header-or-footer-text-input1 {
  width: 50%;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-us-page-wo-header-or-footer-container2 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-page-wo-header-or-footer-text19 {
  color: #ffffff;
}
 
.contact-us-page-wo-header-or-footer-text-input2 {
  width: 50%;
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
 
.contact-us-page-wo-header-or-footer-container3 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.contact-us-page-wo-header-or-footer-text20 {
  color: #ffffff;
}
 
.contact-us-page-wo-header-or-footer-textarea {
  margin-top: var(--dl-space-space-unit);
}
 
.contact-us-page-wo-header-or-footer-checkbox1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
}
 
.contact-us-page-wo-header-or-footer-text21 {
  color: #ffffff;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.contact-us-page-wo-header-or-footer-button {
  align-self: flex-start;
}
 
.contact-us-page-wo-header-or-footer-google-maps {
  width: 100%;
  height: 403px;
}
 
.contact-us-page-wo-header-or-footer-fragment1 {
  display: contents;
}
 
.contact-us-page-wo-header-or-footer-text22 {
  color: #ffffff;
  display: inline-block;
}
 
.contact-us-page-wo-header-or-footer-fragment2 {
  display: contents;
}
 
.contact-us-page-wo-header-or-footer-text23 {
  display: inline-block;
}
 
.contact-us-page-wo-header-or-footer-fragment3 {
  display: contents;
}
 
.contact-us-page-wo-header-or-footer-text24 {
  color: #ffffff;
  display: inline-block;
}
 
.contact-us-page-wo-header-or-footer-fragment4 {
  display: contents;
}
 
.contact-us-page-wo-header-or-footer-text25 {
  color: #ffffff;
  display: inline-block;
}
 
.contact-us-page-wo-header-or-footer-fragment5 {
  display: contents;
}
 
.contact-us-page-wo-header-or-footer-text26 {
  color: #ffffff;
  display: inline-block;
}
 
.contact-us-page-wo-header-or-footer-fragment6 {
  display: contents;
}
 
.contact-us-page-wo-header-or-footer-text27 {
  display: inline-block;
}
 
.contact-us-page-wo-header-or-footer-text28 {
  color: #ffffff;
}
 
.contact-us-page-wo-header-or-footer-fragment7 {
  display: contents;
}
 
.contact-us-page-wo-header-or-footer-text30 {
  color: #ffffff;
  display: inline-block;
}
 
.contact-us-page-wo-header-or-footer-fragment8 {
  display: contents;
}
 
.contact-us-page-wo-header-or-footer-text31 {
  color: rgb(255, 255, 255);
  display: inline-block;
}
 
.contact-us-page-wo-header-or-footer-fragment9 {
  display: contents;
}
 
.contact-us-page-wo-header-or-footer-text32 {
  color: #ffffff;
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-us-page-wo-header-or-footer-row {
    width: 100%;
  }
  .contact-us-page-wo-header-or-footer-content2 {
    height: 100%;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-buttonradius);
    background-color: rgba(0, 0, 0, 0.92);
  }
  .contact-us-page-wo-header-or-footer-content4 {
    height: 100%;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-buttonradius);
    background-color: rgba(0, 0, 0, 0.92);
  }
  .contact-us-page-wo-header-or-footer-content6 {
    height: 100%;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-buttonradius);
    background-color: rgba(0, 0, 0, 0.92);
  }
  .contact-us-page-wo-header-or-footer-max-width2 {
    flex-direction: column;
  }
  .contact-us-page-wo-header-or-footer-content8 {
    width: 100%;
  }
  .contact-us-page-wo-header-or-footer-textarea {
    align-self: stretch;
  }
  .contact-us-page-wo-header-or-footer-text22 {
    color: #ffffff;
  }
  .contact-us-page-wo-header-or-footer-text24 {
    color: #ffffff;
  }
  .contact-us-page-wo-header-or-footer-text26 {
    color: #ffffff;
  }
  .contact-us-page-wo-header-or-footer-text30 {
    color: #ffffff;
  }
  .contact-us-page-wo-header-or-footer-text31 {
    color: #ffffff;
  }
  .contact-us-page-wo-header-or-footer-text32 {
    color: #ffffff;
  }
}
 
@media(max-width: 767px) {
  .contact-us-page-wo-header-or-footer-row {
    flex-direction: column;
  }
}
